<!DOCTYPE html>
<head>
<style>
    .about_case{
            border-radius: 4%;
            height: 100px;
        }
        .caption{
           
           zoom:50%;
        }
       
</style>
</head>
<div id="about">
    <div class="caption"> <img src="http://localhost:8080/public/ecommerce-online-shop-svgrepo-com.svg" width="auto" id="commerce" class="vision" /> <p></p></div>
    <div class="caption">  <img src="http://localhost:8080/public/product-delivery-truck-svgrepo-com.svg"  width="auto"  class="vision" /><p></p></div>
    <div class="caption">  <img src="http://localhost:8080/public/poster-learn-communication-svgrepo-com.svg"  width="auto" class="vision" /><p></p></div>
</div>
</html>