<!DOCTYPE html>
<head>
<style>
    .about_case{
            border-radius: 4%;
            height: 100px;
            width: 50%;
            margin: auto;
            justify-self:normal;
        }
</style>
</head>
<div id="about">
    <div class="caption">  Better Market </div>  <img src="http://localhost:8080/public/ecommerce-online-shop-svgrepo-com.svg" width="70px" id="commerce" class="vision" />
    <div class="caption1">  Durable products </div> <img src="http://localhost:8080/public/product-delivery-truck-svgrepo-com.svg"  wdth="70px"  class="vision" />
    <div class="caption2">  Free education </div> <img src="http://localhost:8080/public/poster-learn-communication-svgrepo-com.svg"  width="70px" class="vision" />
</div>
</html>