<!DOCTYPE html>
<head>
    <style>
        #title{
            color: grey;
            border-top:  none;
            border-left:  none;
            border-right: none;
            border-width: 1px;
            width: 70%;
            border-color: grey;
        }
        #postbody{
            height:70px;
            color: grey;
            width: 70%;
            border-color:  grey;
            border-width: 1px;
            border-radius: 7px;
            border-color:  grey;
        }
        body{
            display: flex;
            justify-content: space-evenly;
        }
        #create{
            align-self: center;
            height:40px;
            border-color:  grey;
            border-radius: 7px;
            border-width: 1px;
            border-color:  grey;
            width: 17%;
        }
        #snippet{
            color: grey;
            border-top:  none;
            border-left:  none;
            border-right: none;
            border-width: 1px;
            width: 70%;
            border-color: grey;
        }
    </style>
</head>
<body>
<form action="/blogs" method="POST">
    <input type="text" id="title" name="title" value="Title"><br>
    <br><br>
    <input type="text" id="snippet" name="snippet" value="Short description here..."><br>
    <br><br>
    <input type="text" id="postbody" name="body" value="Write/create a post"><br><br>
    <input type="submit" id="create" value="create">
</form>

 </body>
</html>