<!DOCTYPE html>
<head>
    <style>
        
        .footer {
          position: relative;
          bottom: 0;
          width: 100%;
          
          color: rgb(223, 206, 206);
          justify-content: space-around;
          
          display: flex;
          background-image: url('http://localhost:8080/public/252cdeee-d6f0-48d5-bb70-287b3a5f67db.jpg');
        }
        ol{
            text-decoration: none;
            list-style: none;
            background: linear-gradient( rgb(0 0 0 / 1.0), rgb(0 0 0 / 0));
            zoom: 70%;
        }
        </style>
</head>
<div class="footer">
    <ol>
        <li><h5>Top Tutorials</h5></li>
            <li><p> Tutorial</p></li>
                <li><p> Tutorial</p></li>
                    <li><p> Tutorial</p></li>
                        <li><p> Tutorial</p></li>
                        <li> <p> To Tutorial</p></li>
                            <li><p> Tutorial</p></li>
                                <li><p> Tutorial</p></li>
                                    <li> <p>CSS Tutorial</p></li>
                                        <li><p> Tutorial</p></li>
                                            <li><p>PHP Tutorial</p></li>
                                                <li><p>Java Tutorial</p></li>
                                                    <li><p>C++ Tutorial</p></li>
                                                        <li><p>jQuery Tutorial</p></li>
                                                        </ol>
<ol>
        <li><h5>Top Tutorials</h5></p></li>
            <li>  <p>HTML Tutorial</p></li>
                <li> <p>CSS Tutorial</p></li>
                    <li> <p>JavaScript Tutorial</p></li>
                        <li> <p>How To Tutorial</p></li>
                            <li><p>SQL Tutorial</p></li>
                                <li><p>Python Tutorial</p></li>
                                    <li><p>W3.CSS Tutorial</p></li>
                                        <li> <p>Bootstrap Tutorial</p></li>
                                            <li> <p>PHP Tutorial</p></li>
                                                <li> <p>Java Tutorial</p></li>
                                                    <li><p>C++ Tutorial</p></li>
                                                        <li><p>jQuery Tutorial</p></li>
</ol>
<ol>
        <li><h5>Top Tutorials</h5></li>
        <li> <p>HTML Tutorial</p></li>
        <li><p>CSS Tutorial</p></li>
        <li><p>JavaScript Tutorial</p></li>
        <li><p>How To Tutorial</p></li>
        <li><p>SQL Tutorial</p></li>
        <li><p>Python Tutorial</p></li>
        <li><p>W3.CSS Tutorial</p></li>
        <li><p>Bootstrap Tutorial</p></li>
        <li><p>PHP Tutorial</p></li>
        <li><p>Java Tutorial</p></li>
        <li><p>C++ Tutorial</p></li>
        <li><p>jQuery Tutorial</p></li>
        </ol>
  </div>
</html>